
header 
{
    color: #002395;
    font-family: "Open Sans";
    text-align: center;
}

body 
{
    color: #323031;
    font-family: "Arial Narrow";
    background: #A2FAA3;
}
#intro-photo
{
    width: 20%;  
    height:auto;
}

a { color: rgb(3, 43, 95); }
a { color: rgb(3, 43, 95); }
a:hover { color: #F8F8FF; }