
header 
{
    color: #002395;
    font-family: "Open Sans";
    text-align: center;
}

body 
{
    color: #323031;
    font-family: "Arial Narrow";
    background: #D0F0C0;
}
#intro-photo
{
    width: 20%;  
    height:auto;
}
figcaption
{
    font-family: "Courier New";
}

a { color: #6699CC; }
a:hover { color: #71816D; }