header
{
    text-align: center;
    font-size: 25px;
}
nav
{
    padding: 20px 10px;
    text-decoration: none;
}
nav a
{
    color: #FE5F55;
    text-decoration: none;
}
body
{
    background-color: aliceblue;
}
form
{
    text-align: center;
}
form div
{
    font-size: 20px;
    padding: 10px;
}
.general
{
    width: 20%;
}
#big
{
    width: 20%;
    height: 100px;
}