header nav
{
    width: 50%;
    overflow: auto;
    background: purple;
    display: center;
}
header ul
{
    padding: 0;
    margin: 0 0 0 250px;
    list-style: none;
}
header li
{
    float: left;
}
header li a
{
    width: 100px;
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    font-family: arial;
    color: #FE5F55;
    text-align: center;
}
header li a:hover
{
    background: white;
    text-transform: uppercase;
}
header img
{
    width: 60px;
    height: auto;
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
}
header
{
    background: purple;
}
h1, h2
{
    text-align: center;
    font-size: 25px;
}
figure
{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body 
{
    background-color: aliceblue;
}
body main
{

    margin-left: 400px;
    margin-right: 400px;
}
form
{
    text-align: center;
}
form div
{
    font-size: 20px;
    padding: 10px;
}
.general
{
    width: 20%;
}
#big
{
    width: 20%;
    height: 100px;
}
p
{
    font-size: 20px;
}
footer
{
    text-align: center; 
}
footer a, main a
{
    color: #FE5F55;
    text-decoration: none;
}
footer img
{
    padding: 0px 5px;
}
#application
{
    position: relative;
    text-align: center;
    border-style: solid;
    border-width: 5px;
}

/* Form */
td,
th {
  border: 1px solid black;
  padding: 8px;
  background-color:#262626;
  color:powderblue;
  text-align: left;
  font-size: 25px;
}
th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  background-color:#262626;
  color: silver;
}
table.center {
  margin-left: auto;
  margin-right: auto;
}

/* Slide show */
.slideshow-container
{
    width: 525px;
    height: auto;
    margin: auto;
    border: 5px solid black; 
    overflow: hidden;
}
.slideshow-slide
{
    display: flex;
}
.slideshow
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.ss-button-container
{
    text-align: center;
    margin-top: 15px;
}
.ss-button-container button
{
    width: 150px;
}
