<!DOCTYPE html>
<html lang = "en">
<meta charset ="utf-8" />
<body>
    <header>
        <div>
            <a href="index.html"><img src="../project/images/jesus.PNG"></a>
        </div>
        <nav>
            <ul>
                <li><a href ="index.html">Home</a></li>
                <li><a href ="form.html">Application</a></li>
                <li><a href ="about.html">About Us</a></li>
                <li><a href ="racing.html">Schedule</a></li>
                <li><a href ="contact.html">Contact</a></li>
            </ul>
        </nav>
        <h1>Oriental Presbyterian Sailing Organization</h1>
    </header>
</body>
</html>