<!DOCTYPE html>
<html lang = "en">
    <meta charset = "utf-8"/>

    <div>
        <a href ="https://webpages.charlotte.edu/jprivet6/"><img class ="parrot-logo" src ="images/parrot_logo.png" alt ="Parrot Logo"></a>
    </div>
    <nav>
        <ul>
            <li><a href ="index.html">Home</a></li>
            <li><a href ="introduction.html">Introduction</a></li>
            <li><a href ="contract.html">Contract</a></li>
            <li><a href ="tables.html">Tables</a></li>
            <li><a href ="forms.html">Forms</a></li>
            <li><a href ="website_evaluations.html">Evaluations</a></li>
            <li><a href ="stuff/CRAPYwebbook.html">Crappy</a></li>
            <li><a href ="Accessibility/Activity_Accessibility.html">Accessibility</a></li>
            <li><a href ="firstscripts.html">First JS</a></li>
            <li><a href ="polygon.html">Polygons</a></li>
            <li><a href ="calculator_try.html">Calculator #1</a></li>
            <li><a href ="calculator_fcc.html">Calculator #2</a></li>
            <li><a href ="arrays.html">Arrays</a></li>
            <li><a href ="hobby/index.html">Midterm</a></li>
            <li><a href ="client-part1-design.html">Project Design</a></li>
            <li><a href ="project/index.html">Client Project</a></li>
            <li><a href ="slideshow.html">Slideshow</a></li>
            <li><a href ="image-swap.html">Image-Swap</a></li>
            <li><a href ="Activity11/Privett-Activity11.html">Accordion Widget</a></li>
            <li><a href ="peer-review-1.html">Project Review 1</a></li>
            <li><a href ="peer-review-2.html">Project Review 2</a></li>
        </ul>
    </nav>
    <h1>Justin Privett | ITIS 3135 | Jet Parrot</h1>

</html>