<!DOCTYPE html>
<html lang = "en">
    <meta charset = "utf-8"/>

    <div>
        <a href ="https://webpages.charlotte.edu/jprivet6/"><img class ="parrot-logo" src ="images/parrot_logo.png" alt ="Parrot Logo"></a>
    </div>
    <nav>
        <ul>
            <li><a href ="index.html">Home</a></li>
            <li><a href ="introduction.html">Introduction</a></li>
            <li><a href ="contract.html">Contract</a></li>
            <li><a href ="tables.html">Tables</a></li>
            <li><a href ="forms.html">Forms</a></li>
            <li><a href ="website_evaluations.html">Evaluations</a></li>
            <li><a href ="stuff/CRAPYwebbook.html">Crappy</a></li>
            <li><a href ="brand-jet-parrot.html" >Brand</a></li>
        </ul>
    </nav>
    <h1>Justin Privett | ITIS 3135 | Jet Parrot</h1>

</html>